[package]
authors = ["Walther Chen <walther.chen@gmail.com>"]
description = "Library to interface with Secret Service API"
documentation = "https://docs.rs/secret-service"
homepage = "https://github.com/hwchen/secret-service-rs.git"
keywords = ["secret-service", "password", "linux", "keychain"]
license = "MIT OR Apache-2.0"
name = "secret-service"
repository = "https://github.com/hwchen/secret-service-rs.git"
edition = "2018"
version = "2.0.1"

[dependencies]
aes = "0.7.0"
block-modes = "0.8.0"
hkdf = "0.11.0"
lazy_static = "1.4.0"
num = "0.4.0"
rand = "0.8.1"
serde = { version = "1.0.118", features = ["derive"] }
sha2 = "0.9.2"
zbus = "2"
zbus_names = "2"
zbus_macros = "2"
zvariant = "3"
zvariant_derive = "3"
