[package]
authors = ["Walther Chen <walther.chen@gmail.com>"]
description = "Library to interface with Secret Service API"
documentation = "https://hwchen.github.io/secret-service-rs/secret_service"
homepage = "https://github.com/hwchen/secret-service-rs.git"
keywords = ["secret-service", "password", "linux", "keychain"]
license = "MIT OR Apache-2.0"
name = "secret-service"
repository = "https://github.com/hwchen/secret-service-rs.git"
edition = "2018"
version = "2.0.0"

[dependencies]
aes = "0.6.0"
block-modes = "0.7.0"
hkdf = "0.10.0"
lazy_static = "1.4.0"
num = "0.3.1"
rand = "0.8.1"
serde = { version = "1.0.118", features = ["derive"] }
sha2 = "0.9.2"
zbus = "1.7.0"
zbus_macros = "1.7.0"
zvariant = "2.4.0"
zvariant_derive = "2.4.0"
