name: CI
permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
    - master

env:
  CARGO_NET_RETRY: 3

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust:
          - stable

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        override: true
        components: clippy

    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: $clippy-cache-${{ steps.toolchain.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.lock') }}

    - uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --features=rt-tokio-crypto-rust --all-targets --all -- -D clippy::dbg_macro -D warnings -F unused_must_use

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  test:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust:
          - stable

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal

      - name: Install gnome-keyring
        run: sudo apt-get install -y gnome-keyring

      - name: Start gnome-keyring
        # run gnome-keyring with 'foobar' as password for the login keyring
        # this will create a new login keyring and unlock it
        # the login password doesn't matter, but the keyring must be unlocked for the tests to work
        run: gnome-keyring-daemon --components=secrets --daemonize --unlock <<< 'foobar'

      - name: Run tests with rust crypto
        uses: actions-rs/cargo@v1
        with:
          command: test
          # run tests single-threaded to avoid race conditions
          args: --features=rt-tokio-crypto-rust -- --test-threads=1

      - name: Run tests with openssl crypto
        uses: actions-rs/cargo@v1
        with:
          command: test
          # run tests single-threaded to avoid race conditions
          args: --features=rt-tokio-crypto-openssl -- --test-threads=1

      - name: Run example
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --features=rt-tokio-crypto-rust --example example

  # MSRV, influenced by zbus.
  check_msrv:
    name: Check MSRV
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.60.0"
          profile: minimal

      - name: Generate lockfile
      # XXX: `0.6.1` of `toml_datetime` is the last version with a MSRV that matches
      # our current one. 
        run: |
          cargo generate-lockfile
          cargo update -p toml_datetime --precise "0.6.1"

      - uses: actions-rs/cargo@v1
        name: Clippy MSRV
        with:
          command: clippy
          args: --features=rt-tokio-crypto-rust --all-targets --all -- -D clippy::dbg_macro -D warnings -F unused_must_use
